@page "/MudBlazorDemo"
@using System.Diagnostics;
@using BlazorMAUIApp.Data;
@using MudBlazor;

<MudPaper>
    <MudText Typo="Typo.h1">MudBlazor Demo</MudText>
    <div class="d-flex flex-grow-1 gap-4">
        <MudButton class="btn btn-primary" @onclick="IncrementCount">Increment Counter</MudButton>
        <MudText>@currentCount</MudText>
    </div>
    <br />
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="MultiplyByTwo">Test C++ dll loading</MudButton>
    <MudText>cpp 'MultiplyByTwo(counter)' function returns: @dllResult</MudText>
    <br/>
    <MudSpacer />
    <MudSelect Variant="Variant.Filled" T="string" Label="Select Coffee Type" AnchorOrigin="Origin.BottomCenter">
        @foreach (var coffee in coffeeTypes)
        {
            <MudSelectItem T="string" Value="@coffee">@coffee</MudSelectItem>
        }
    </MudSelect>
    <br/>
    <MudTextField @bind-Value="TextValue" Label="Input Text Control" Variant="Variant.Filled"></MudTextField>
</MudPaper>

@code {
    private int currentCount = 0;
    private string dllResult = "";
    private string TextValue = "";
    private string[] coffeeTypes = { "Cappuccino", "Espresso", "Latte" };

    private void IncrementCount()
    {
        currentCount++;
    }

    private void MultiplyByTwo()
    {
        dllResult = CPPinteropService.Diu(currentCount).ToString();
    }
}
